<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="footer">
    <footer class="text-center text-lg-start bg-black text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom text-light">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Kết nối với chúng tôi tại đây:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="text-light">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Về DEGREYS
                        </h6>
                        <p>
                            Cái tên Degrey được tạo ra rất ngẫu hứng, xuất phát từ “Chuỗi ngày u buồn về sự nghiệp,
                            tương lai trong
                            quá khứ của chính mình” – theo lời chia sẻ của Degrey’s founder.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Địa chỉ
                        </h6>
                        <p>
                            <a href="#!" class="text-reset" style="text-decoration: none;">
                                <span class="d-block">Sài Gòn: 43 Huỳnh Văn Bánh P.17 Q.Phú Nhuận</span>
                                <span class=" d-block mt-2">1041 Luỹ Bán Bích P.Tân Thành Q.Tân Phú</span></a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset" style="text-decoration: none;">-Đà Lạt:
                                11 Khu Hoà Bình P.1</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset" style="text-decoration: none;">Điện thoại: 0xxxxxxxxx</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset" style="text-decoration: none;">Email:
                                trungnam101183@gmail.com</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Hỗ trợ khách hàng
                        </h6>
                        <ul>
                            <li class="text-reset mt-2">Hệ thống cửa hàng</li>
                            <li class="text-reset mt-2">Hướng dẫn đặt hàng</li>
                            <li class="text-reset mt-2">Chính sách và quy định</li>
                            <li class="text-reset mt-2">Chính sách bảo mật</li>
                            <li class="text-reset mt-2">Thông tin sở hữu</li>

                        </ul>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Chăm sóc khách hàng</h6>
                        <p>0xxxxxxxxx</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4 text-light" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2023 Copyright:
            <a class="text-reset fw-semibold" style="text-decoration: none;" href="#">Web này sinh ra dùng để làm dự án
                mọi vấn đề về bản quyền xin liên hệ tại đây: <a href="https://facebook.com/tnam2130">facebook.com/tnam2130</a></a>
        </div>
        <!-- Copyright -->
    </footer>
</div>
</body>
</html>